---
const { title, description, picSrc } = Astro.props
---
<section class="card">
    <img src={picSrc} alt={title}>
    <h3>{title}</h3>
    <p>{description}</p>
</section>

<style>
    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card h3 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    .card p {
        font-size: 1.2rem;
        text-wrap: balance;
    }
</style>