---
import CoderwaysLogo from '../assets/coderways.png'
import HeroImage from '../assets/hero-image.png'
---

<section class="main-section">
	<img src={CoderwaysLogo.src} alt="Coderways Logo" class="coderways-logo">
	<h1>Mejora tus habilidades <span>programando</span></h1>
	<p>Aprende y mejora tus habilidades de programación creando proyectos reales, <strong>conviértete en el candidato ideal</strong> que cualquier empresa quiera tener.</p>
	<p>Únete a la lista de espera de nuestra comunidad.</p>
	<section class="input-container">
		<input type="email" name="email" id="email" placeholder="Tu correo electrónico">
		<button>Unirme</button>
	</section>
	<img src={HeroImage.src} alt="Black and white people illustration from FreePik" class="hero-image">
</section>

<style>
	.main-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
	h1 {
		font-size: 2.3rem;
		margin-bottom: 20px;
		margin-top: 10px;
		text-align: center;
	}
	h1 span {
		color: #1E00B4;
	}
	.coderways-logo {
		width: 150px;
		margin-top: 20px;
	}
	p {
		font-size: 1.2rem;
		text-align: center;
		text-wrap: balance;
		margin-bottom: 20px;
	}
	.hero-image {
		width: 100%;
		margin-top: 40px;
		max-width: 500px;
	}
	.input-container {
		display: flex;
		border: none;
		border-radius: 8px;
		width: 100%;
		max-width: 400px;
	}
	.input-container input {
		height: 50px;
		padding: 5px 10px;
		background: none;
		border: none;
		width: 100%;
		background-color: rgb(231, 231, 231);
		font-size: 1rem;
	}
	.input-container input:focus {
		outline: none;
	}
	.input-container button {
		background-color: #000000;
		color: white;
		font-weight: 700;
		border: none;
		padding: 10px;
		font-size: 1rem;
	}
</style>