---
import Cards from "./Card.astro"
---
<section class="how-it-works">
    <h2>¿Qué podrás obtener uniéndote a nuestra comunidad?</h2>
    <Cards title="Emmanuel" description="Trabaja con la mejor"/>
</section>
<style>
    .how-it-works {
        padding: 20px;
    }
</style>